* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.custom-file-input {
  width: 500px;
  height: 30px;
  font-size: large;
  padding-left: 5px;
}
.button {
  display: inline-grid;
  grid-gap: 10px;
}
.button > button {
  height: 35px;
  padding: 10px;
}
