body {
  background-color: #bbb;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}
.Navbar {
  display: flex;
  height: 60px;
  background-color: white;
}
.Navbar-img {
  height: 55px;
}
.payment-box {
  height: 100px;
  border: 1px solid orange;
}
