body {
  background-color: white;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
.Navbar {
  background: white;
  margin: 50px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 60% auto auto auto;
  /* text-align: center; */
  align-items: center;
}

.custom-file-input {
  width: 500px;
  height: 30px;
  font-size: large;
  padding-left: 5px;
}
.button {
  display: inline-grid;
  grid-gap: 10px;
  position: sticky;
  height: 60vh;
  top: 0;
  margin-left: 40px;
  margin-top: 47px;
}
.button > button {
  height: 35px;
  padding: 10px;
  font-style: italic;
  font-size: 15px;
}
.button > button:hover {
  font-style: bold;
  font-size: 105%;
  box-shadow: 5px 5px #636363;
}
.item-detail :hover {
  transform: scale(1.25);
}
