@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: white;
}
.background {
  height: 95vh;
  background-image: url("/static/background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
}
.signup-box {
  width: 280px;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.login-box {
  width: 280px;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid rgb(243, 135, 47);
}
.textbox i {
  color: white;
  width: 26px;
  float: left;
  text-align: center;
  margin-right: 5px;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn {
  width: 100%;
  background: none;
  border: 1px solid rgb(243, 135, 47);
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}

.Navbar {
  background: white;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 60% 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  background: radial-gradient(rgb(56, 54, 52), transparent);
  box-shadow: 5px 5px rgb(56, 54, 52);
  border-radius: 10px;
  margin-bottom: 20px;
}

.custom-file-input {
  width: 500px;
  height: 30px;
  font-size: large;
  padding-left: 5px;
}
.button {
  display: inline-grid;
  grid-gap: 10px;
  position: sticky;
  height: 60vh;
  top: 0;
  margin-left: 10px;
}
.button > button {
  height: 30px;
  font-weight: 900;
  padding: 5px;
  color: rgb(10, 47, 90);
  margin-top: 10px;
  background: none;
  margin-bottom: 10px;
  font-size: 15px;
  width: 130px;
  border: none;
  position: relative;
}
.button > button:hover {
  font-style: bold;
  color: white;
  background-color: rgb(10, 47, 90);
  font-size: 103%;
  box-shadow: 0 0 10px rgb(53, 136, 230), 0 0 20px rgb(53, 136, 230),
    0 0 30px rgb(53, 136, 230);
}
.item-detail :hover {
  transform: scale(1.25);
}
.item-detail {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 5px 5px gray;
}

.navbar-link {
  background-color: rgb(10, 47, 90);
  color: white;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid rgb(10, 47, 90);
  border-radius: 10px;
  cursor: pointer;
}
.navbar-link > span {
  font-family: cursive;
  font-size: 15px;
}
.addToCart {
  background-color: rgb(3, 33, 66);
  color: white;
  padding: 5px 5px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: 2px solid rgb(3, 33, 66);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
}
.Cart-wrapper {
  display: grid;
  grid-template-columns: 60% auto auto auto;
  grid-template-rows: 70% 30%;
  grid-template-areas:
    "picture year model price"
    "picture . . remove";
  margin: 5px 300px 5px 300px;
  padding: 1px;
  border-bottom: 2px solid;
  font-size: 15px;
  font-weight: 900;
  font-family: monospace;
}
.picture {
  grid-area: picture;
}
.year {
  grid-area: year;
  align-self: center;
}
.model {
  grid-area: model;
  align-self: center;
}
.price {
  grid-area: price;
  font-size: 20px;
  align-self: center;
}
.remove {
  grid-area: remove;
  align-self: start;
}
.remove-button {
  background-color: white;
  color: rgb(170, 43, 91);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  cursor: pointer;
  font-style: italic;
}
.checkout {
  background-color: rgb(129, 4, 4);
  color: white;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid rgb(129, 4, 4);
  border-radius: 10px;
  cursor: pointer;
}

.checkout-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.checkout_form {
  background: yellowgreen;
  width: 450px;
  height: 380px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  padding: 70px 0;
}
.section input[type="text"]:focus {
  border-color: rgb(86, 114, 29);
}
.section {
  margin-bottom: 15px;
}
.section input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 2px solid #dddddd;
}
.last_section {
  display: flex;
  justify-content: center;
}
.last_section input {
  width: 63%;
  padding: 10px;
  border: 2px solid #dddddd;
}
.checkout-btn {
  text-align: right;
  margin-right: 60px;
}
.checkout-btn input {
  padding: 20px;
  cursor: pointer;
  background: #e85c4d;
  text-align: right;
  margin-top: 25px;
  outline: none;
  font-size: 20px;
}
.checkout-box {
  text-align: center;
  padding-top: 50px;
  background-color: #e85c4d;
  width: 450px;
  height: 470px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.total-form {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.total-form option {
  font-size: 15px;
  font-weight: bold;
}
.total-form select {
  font-size: 15px;
  font-weight: bold;
}
.total-form div {
  padding: 15px;
  margin-bottom: 50px;
}
.calculator {
  height: 100px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 2px 2px black;
  border-radius: 10px;
}
